{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Про меня{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про меня</h1>
        <img class ="photome" src="{% static 'main/img/me.jpg' %}" alt="Me_photo">
        <p>Меня зовут Илья, мне 22 года. Занимаюсь разработкой на языке python, также активно изучаю фронтенд. В свободное время пишу небольшие проекты, такие как телеграм-боты и сайты, а также разрабатываю игры на Unity.</p>
        <p>В настоящее время обучаюсь в магистратуре НИТУ МИСИС по направлению "Прикладная информатика". Параллельно этому занимаюсь самообразованием по книгам и онлайн-курсам.</p>
        <p>Хобби: горные походы, волейбол, комиксы.</p>
        <p>Если хочешь посмотреть подробнее мой путь в IT, тыкай кнопку ниже</p>
        <a href="{% url 'news_home' %}"><button class="btn btn-danger">На страницу новостей</button></a><br>
        <p></p>
    </div>
{% endblock %}

