{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Привет!</p>
        <p>Это сайт Ильи Климантова, на котором можно увидеть реализацию бэкенда на Django и узнать парочку фактов из его биографии</p>
        <p>На сайте реализован бэкенд на Python-фреймворке Django. Реализовано несколько страниц и база данных с возможностью добавления, редактирования и удаления записей.</p>
        <p>Чтобы узнать об Илье подробнее, нажми на кнопку ниже</p>
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу про меня</button></a>
{% endblock %}